<h1>Title <%= @post.title %></h1>
<h2>Comments</h2>
<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.content %>(<%= comment.created_at %>)</li>
  <% end %>
</ul>

<%= link_to 'Post List' ,posts_path %>